# このファイルを .env という名前でコピーして、右側を書き換えてください
# .env は他人に見せないでください（パスワードが入ります）
IMAP_SERVER=mw2pke8x0z.bizmw.com
IMAP_PORT=993
IMAP_USER=hayashi@mino-ex.co.jp
IMAP_PASSWORD=Mino_0903
IMAP_FOLDER=INBOX

# 取得対象のフォルダ名（通常はこのままで大丈夫です）
IMAP_FOLDER=INBOX
